*,
body {
    margin: 0;
    padding: 0;
}
body {
    zoom: 1;
    overflow: hidden;
    background: #141e30;
    background: -webkit-linear-gradient(to bottom, #243b55, #141e30);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#book {
    --page-ratio: calc(11 / 8.5);
    --book-ratio: calc(11 / 17);
    --book-width: min(100vw, calc(100vh / var(--page-ratio) * 2));
    --book-height: calc(var(--book-width) * var(--page-ratio) / 2);

    width: var(--book-width);
    height: var(--book-height);
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media (orientation: portrait) {
    #book {
        --book-width: 100vw;
        --book-height: calc(var(--book-width) * var(--page-ratio) / 2);
    }
}

.nav-buttons {
    position: absolute;
    z-index: 100;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.nav-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: 800;
    border: none;
    padding: 20px 15px;
    cursor: pointer;
    pointer-events: all;
}

#fullscreen-button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 8px;
    background-color: #c9c9c9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#fullscreen-button:hover {
    background-color: #ababab;
}
.fullscreen-img {
    height: 15px;
}

.page1 {
    background: url(./images/espirito-chronicles-e-cell/img1.jpg);
    background-size: 100% 100%;
}
.page2 {
    background: url(./images/espirito-chronicles-e-cell/img2.jpg);
    background-size: 100% 100%;
}
.page3 {
    background: url(./images/espirito-chronicles-e-cell/img3.jpg);
    background-size: 100% 100%;
}
.page4 {
    background: url(./images/espirito-chronicles-e-cell/img4.jpg);
    background-size: 100% 100%;
}
.page5 {
    background: url(./images/espirito-chronicles-e-cell/img5.jpg);
    background-size: 100% 100%;
}
.page6 {
    background: url(./images/espirito-chronicles-e-cell/img6.jpg);
    background-size: 100% 100%;
}
.page7 {
    background: url(./images/espirito-chronicles-e-cell/img7.jpg);
    background-size: 100% 100%;
}
.page8 {
    background: url(./images/espirito-chronicles-e-cell/img8.jpg);
    background-size: 100% 100%;
}
.page9 {
    background: url(./images/espirito-chronicles-e-cell/img9.jpg);
    background-size: 100% 100%;
}
.page10 {
    background: url(./images/espirito-chronicles-e-cell/img10.jpg);
    background-size: 100% 100%;
}
.page11 {
    background: url(./images/espirito-chronicles-e-cell/img11.jpg);
    background-size: 100% 100%;
}
.page12 {
    background: url(./images/espirito-chronicles-e-cell/img12.jpg);
    background-size: 100% 100%;
}
.page13 {
    background: url(./images/espirito-chronicles-e-cell/img13.jpg);
    background-size: 100% 100%;
}
.page14 {
    background: url(./images/espirito-chronicles-e-cell/img14.jpg);
    background-size: 100% 100%;
}
.page15 {
    background: url(./images/espirito-chronicles-e-cell/img15.jpg);
    background-size: 100% 100%;
}
.page16 {
    background: url(./images/espirito-chronicles-e-cell/img16.jpg);
    background-size: 100% 100%;
}
.page17 {
    background: url(./images/espirito-chronicles-e-cell/img17.jpg);
    background-size: 100% 100%;
}
.page18 {
    background: url(./images/espirito-chronicles-e-cell/img18.jpg);
    background-size: 100% 100%;
}
.page19 {
    background: url(./images/espirito-chronicles-e-cell/img19.jpg);
    background-size: 100% 100%;
}
.page20 {
    background: url(./images/espirito-chronicles-e-cell/img20.jpg);
    background-size: 100% 100%;
}
.page21 {
    background: url(./images/espirito-chronicles-e-cell/img21.jpg);
    background-size: 100% 100%;
}
.page22 {
    background: url(./images/espirito-chronicles-e-cell/img22.jpg);
    background-size: 100% 100%;
}
.page23 {
    background: url(./images/espirito-chronicles-e-cell/img23.jpg);
    background-size: 100% 100%;
}
.page24 {
    background: url(./images/espirito-chronicles-e-cell/img24.jpg);
    background-size: 100% 100%;
}
.page25 {
    background: url(./images/espirito-chronicles-e-cell/img25.jpg);
    background-size: 100% 100%;
}
.page26 {
    background: url(./images/espirito-chronicles-e-cell/img26.jpg);
    background-size: 100% 100%;
}
.page27 {
    background: url(./images/espirito-chronicles-e-cell/img27.jpg);
    background-size: 100% 100%;
}
.page28 {
    background: url(./images/espirito-chronicles-e-cell/img28.jpg);
    background-size: 100% 100%;
}
.page29 {
    background: url(./images/espirito-chronicles-e-cell/img29.jpg);
    background-size: 100% 100%;
}
.page30 {
    background: url(./images/espirito-chronicles-e-cell/img30.jpg);
    background-size: 100% 100%;
}
.page31 {
    background: url(./images/espirito-chronicles-e-cell/img31.jpg);
    background-size: 100% 100%;
}
.page32 {
    background: url(./images/espirito-chronicles-e-cell/img32.jpg);
    background-size: 100% 100%;
}
