body {
  overflow: hidden;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #243B55, #141E30);
  /* Chrome 10-25, Safari 5.1-6 */
}

#book {
  width: 800px;
  height: 600px;
  margin: 3% auto;
}

.page1 {
  background: url(images/moto-trend/681502422-Motor-Trend-January-2024-01.png);
  background-size: 100% 100%;
}
.page2 {
  background: url(images/moto-trend/681502422-Motor-Trend-January-2024-02.png);
  background-size: 100% 100%;
}
.page3 {
  background: url(images/moto-trend/681502422-Motor-Trend-January-2024-03.png);
  background-size: 100% 100%;
}
.page4 {
  background: url(images/moto-trend/681502422-Motor-Trend-January-2024-04.png);
  background-size: 100% 100%;
}
.page5 {
  background: url(images/moto-trend/681502422-Motor-Trend-January-2024-15.png);
  background-size: 100% 100%;
}
.page6 {
  background: url(images/moto-trend/681502422-Motor-Trend-January-2024-16.png);
  background-size: 100% 100%;
}
.page7 {
  background: url(images/moto-trend/681502422-Motor-Trend-January-2024-17.png);
  background-size: 100% 100%;
}
.page8 {
  background: url(images/moto-trend/681502422-Motor-Trend-January-2024-18.png);
  background-size: 100% 100%;
}
.page9 {
  background: url(images/moto-trend/681502422-Motor-Trend-January-2024-32.png);
  background-size: 100% 100%;
}
.page10 {
  background: url(images/moto-trend/681502422-Motor-Trend-January-2024-33.png);
  background-size: 100% 100%;
}
.page11 {
  background: url(images/moto-trend/681502422-Motor-Trend-January-2024-36.png);
  background-size: 100% 100%;
}
.page12 {
  background: url(images/moto-trend/681502422-Motor-Trend-January-2024-37.png);
  background-size: 100% 100%;
}
.page13 {
  background: url(images/moto-trend/681502422-Motor-Trend-January-2024-83.png);
  background-size: 100% 100%;
}
.page14 {
  background: url(images/moto-trend/681502422-Motor-Trend-January-2024-84.png);
  background-size: 100% 100%;
}
