*,
body {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    background: #141e30;
    background: -webkit-linear-gradient(to bottom, #243b55, #141e30);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#book {
    margin: 50px;
    width: calc(90vh * 4 / 3); /* Maintain 4:3 aspect ratio based on height */
    height: 90vh;
    max-width: calc(
        100vw - 200px
    ); /* Ensure the book doesn't exceed the viewport width minus 200px */
    max-height: calc(
        (100vw - 200px) * 3 / 4
    ); /* Adjust height based on width to maintain aspect ratio */
}

.nav-buttons {
    position: absolute;
    z-index: 100;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.nav-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    pointer-events: all;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    #book {
        width: 90vw; /* Decide the width based on viewport width */
        height: calc(95vw * 0.75); /* Maintain 4:3 aspect ratio */
    }
}

@media (max-width: 480px) {
    #book {
        width: 90vw; /* Decide the width based on viewport width */
        height: calc(95vw * 0.75); /* Maintain 4:3 aspect ratio */
    }
}

.page1 {
    background: url(images/vardhaman-chroniceles-single-page/img1.jpg);
    background-size: 100% 100%;
}
.page2 {
    background: url(images/vardhaman-chroniceles-single-page/img2.jpg);
    background-size: 100% 100%;
}
.page3 {
    background: url(images/vardhaman-chroniceles-single-page/img3.jpg);
    background-size: 100% 100%;
}
.page4 {
    background: url(images/vardhaman-chroniceles-single-page/img4.jpg);
    background-size: 100% 100%;
}
.page5 {
    background: url(images/vardhaman-chroniceles-single-page/img5.jpg);
    background-size: 100% 100%;
}
.page6 {
    background: url(images/vardhaman-chroniceles-single-page/img6.jpg);
    background-size: 100% 100%;
}
.page7 {
    background: url(images/vardhaman-chroniceles-single-page/img7.jpg);
    background-size: 100% 100%;
}
.page8 {
    background: url(images/vardhaman-chroniceles-single-page/img8.jpg);
    background-size: 100% 100%;
}
.page9 {
    background: url(images/vardhaman-chroniceles-single-page/img9.jpg);
    background-size: 100% 100%;
}
.page10 {
    background: url(images/vardhaman-chroniceles-single-page/img10.jpg);
    background-size: 100% 100%;
}
.page11 {
    background: url(images/vardhaman-chroniceles-single-page/img11.jpg);
    background-size: 100% 100%;
}
.page12 {
    background: url(images/vardhaman-chroniceles-single-page/img12.jpg);
    background-size: 100% 100%;
}
.page13 {
    background: url(images/vardhaman-chroniceles-single-page/img13.jpg);
    background-size: 100% 100%;
}
.page14 {
    background: url(images/vardhaman-chroniceles-single-page/img14.jpg);
    background-size: 100% 100%;
}
.page15 {
    background: url(images/vardhaman-chroniceles-single-page/img15.jpg);
    background-size: 100% 100%;
}
.page16 {
    background: url(images/vardhaman-chroniceles-single-page/img16.jpg);
    background-size: 100% 100%;
}
.page17 {
    background: url(images/vardhaman-chroniceles-single-page/img17.jpg);
    background-size: 100% 100%;
}
.page18 {
    background: url(images/vardhaman-chroniceles-single-page/img18.jpg);
    background-size: 100% 100%;
}
.page19 {
    background: url(images/vardhaman-chroniceles-single-page/img19.jpg);
    background-size: 100% 100%;
}
.page20 {
    background: url(images/vardhaman-chroniceles-single-page/img20.jpg);
    background-size: 100% 100%;
}
.page21 {
    background: url(images/vardhaman-chroniceles-single-page/img21.jpg);
    background-size: 100% 100%;
}
.page22 {
    background: url(images/vardhaman-chroniceles-single-page/img22.jpg);
    background-size: 100% 100%;
}
.page23 {
    background: url(images/vardhaman-chroniceles-single-page/img23.jpg);
    background-size: 100% 100%;
}
.page24 {
    background: url(images/vardhaman-chroniceles-single-page/img24.jpg);
    background-size: 100% 100%;
}
.page25 {
    background: url(images/vardhaman-chroniceles-single-page/img25.jpg);
    background-size: 100% 100%;
}
.page26 {
    background: url(images/vardhaman-chroniceles-single-page/img26.jpg);
    background-size: 100% 100%;
}
.page27 {
    background: url(images/vardhaman-chroniceles-single-page/img27.jpg);
    background-size: 100% 100%;
}
.page28 {
    background: url(images/vardhaman-chroniceles-single-page/img28.jpg);
    background-size: 100% 100%;
}
